Source: openmediavault-wordpress
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: openmediavault-wordpress
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.6.0.12), openmediavault-mysql (>= 0.6)
Priority: optional
Description: OpenMediaVault Wordpress plugin
 WordPress is web software you can use to create a beautiful website or blog.
